<p-card class="container dialog">
  <div class="user-header-card">
    <div class="user-types">
      <p-select
        (onChange)="changedType()"
        [(ngModel)]="typeSelected"
        [disabled]="editMode"
        [options]="types"
        appendTo="body"
        optionLabel="label"
        placeholder="Select user type"
      />
    </div>
  </div>
  @if (typeSelected) {
    <form [formGroup]="userForm">
      <div class="form-container">
        @if (typeSelected.value === UserType.USERNAME) {
          <div class="p-field">
            <app-input-container
              [formControlName]="UserFormFieldName.USERNAME"
              label="Username"
            ></app-input-container>
          </div>
          <div class="p-field">
            <label [for]="UserFormFieldName.PASSWORD"
              >Password: <span class="required-indicator">*</span></label
            >
            <p-password
              [feedback]="false"
              [formControlName]="UserFormFieldName.PASSWORD"
              [id]="UserFormFieldName.PASSWORD"
              [toggleMask]="true"
              class="password-card-filed"
            />
            @if (editMode) {
              <p-button
                (click)="editPassword()"
                [disabled]="!userForm.get(UserFormFieldName.PASSWORD)?.valid"
                [label]="'Update password'"
                class="modal-btn"
                severity="success"
                type="submit"
              ></p-button>
            }
          </div>
        } @else {
          <div class="p-field">
            <app-input-container
              [formControlName]="UserFormFieldName.EMAIL"
              [pattern]="RegexPatterns.EMAIL"
              label="Email address"
            ></app-input-container>
          </div>
        }
        <div class="p-field">
          <label [for]="UserFormFieldName.ROLE"
            >Role: <span class="required-indicator">*</span></label
          >
          <p-select
            (onChange)="changedRole()"
            [appendTo]="'body'"
            [formControlName]="UserFormFieldName.ROLE"
            [id]="UserFormFieldName.ROLE"
            [name]="UserFormFieldName.ROLE"
            [options]="roles"
            class="modal-btn"
            optionLabel="label"
            placeholder="Select user role"
          />
        </div>
      </div>
      <p-button
        (click)="createEditUser()"
        [disabled]="
          editMode
            ? !userForm.get(UserFormFieldName.ROLE)?.valid
            : !userForm.valid
        "
        [label]="editMode ? 'Edit' : 'Create'"
        class="modal-btn"
        severity="success"
        type="submit"
      ></p-button>
    </form>
  }
</p-card>
