.export-btn {
  margin-top: 8px;
}

.p-fields-row-date {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;

  .p-field-date {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .dates {
    display: flex;
    gap: 1rem;
    width: 100%;
  }
}
