<p-card>
  <ng-template pTemplate="header">
    <div class="card-header">
      <app-custom-title [title]="title"></app-custom-title>
    </div>
  </ng-template>
  <p-table
    (onLazyLoad)="loadData($event)"
    [lazy]="true"
    [loading]="loading"
    [paginator]="true"
    [resizableColumns]="true"
    [rowsPerPageOptions]="rowsPerPageOptions"
    [rows]="maxRowDefault"
    [totalRecords]="totalRecords"
    [value]="customers()"
    class="app-table"
    dataKey="uid"
  >
    <ng-template pTemplate="caption">
      <div class="table-caption">
        <div class="caption-action-button">
          <app-search-input
            (eventSearchValidate)="activateSearch($event)"
          ></app-search-input>
        </div>
        <div class="caption-action-button">
          <p-button
            (click)="createCustomer()"
            [icon]="Icons.PLUS"
            [raised]="true"
            label="Customer"
          ></p-button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>{{ TableColsTitle.NAME }}</th>
        <th>{{ TableColsTitle.CODE }}</th>
        <th class="col-actions">{{ TableColsTitle.ACTIONS }}</th>
      </tr>
    </ng-template>
    <ng-template let-customer let-ri="rowIndex" pTemplate="body">
      <tr>
        <td class="text-bold">
          {{ customer.name }}
        </td>
        <td>
          {{ customer.code }}
        </td>
        <td class="col-actions">
          <p-button
            (click)="openCustomerContacts(customer)"
            [icon]="Icons.LIST"
            [text]="true"
            pTooltip="Requestor Names & Emails"
            tooltipPosition="top"
          >
          </p-button>
          <p-button
            (click)="editCustomer(customer)"
            [icon]="Icons.PENCIL"
            [text]="true"
            pTooltip="Edit"
            tooltipPosition="top"
          >
          </p-button>
          <p-button
            (onClick)="archiveCustomer(customer)"
            [delay]="2000"
            [icon]="Icons.ARCHIVE"
            [text]="true"
            appNoDoubleClick
            pTooltip="Archive"
            severity="danger"
            tooltipPosition="top"
          >
          </p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr class="p-datatable-emptymessage">
        <td colspan="5">No data</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
