<p-card class="container dialog">
  <form [formGroup]="shipmentMethodForm">
    <div class="p-fields-row">
      <div class="p-field">
        <app-input-container
          [formControlName]="ShipmentMethodFormField.NAME"
          label="Name"
        ></app-input-container>
      </div>
      <div class="p-field">
        <label for="percentage">Percentage (%)</label>
        <p-inputNumber
          [formControlName]="ShipmentMethodFormField.PERCENTAGE"
          [maxFractionDigits]="2"
          [max]="100"
          [minFractionDigits]="0"
          [min]="0"
          id="percentage"
          mode="decimal"
          suffix="%"
        ></p-inputNumber>
      </div>
    </div>
    <p-button
      (click)="createEditShipmentMethod()"
      [disabled]="!shipmentMethodForm.valid"
      [label]="editMode() ? 'Edit' : 'Create'"
      class="modal-btn"
      severity="success"
      type="submit"
    ></p-button>
  </form>
</p-card>
