.card-header {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.tabs-header {
  align-items: center;
  display: flex;
  gap: 0.45rem;

  .selection-count {
    border: none;
    font-weight: 500;
  }
}
