<p-card>
  <ng-template pTemplate="header">
    <div class="card-header">
      <app-custom-title [title]="title"></app-custom-title>
    </div>
  </ng-template>

  <p-table
    (onLazyLoad)="loadData($event)"
    [lazy]="true"
    [loading]="loading"
    [paginator]="true"
    [resizableColumns]="true"
    [rowsPerPageOptions]="rowsPerPageOptions"
    [rows]="maxRowDefault"
    [totalRecords]="totalRecords"
    [value]="lines()"
    class="app-table"
    dataKey="uid"
    editMode="row"
  >
    <ng-template pTemplate="caption">
      <div class="table-caption">
        <div class="caption-action-button">
          <app-search-input
            (eventSearchValidate)="activateSearch($event)"
          ></app-search-input>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th>{{ TableColsTitle.REFERENCE_NUMBER }}</th>
        <th>{{ TableColsTitle.REVISION }}</th>
        <th>{{ TableColsTitle.CUSTOMER }}</th>
        <th>{{ TableColsTitle.CUSTOMER_PART_NUMBER }}</th>
        <th>{{ TableColsTitle.REVISION }}</th>
        <th>{{ TableColsTitle.OUTSOURCED_COST }}</th>
        <th>{{ TableColsTitle.OUTSOURCING_STATUS }}</th>
        <th class="col-actions">{{ TableColsTitle.ACTIONS }}</th>
      </tr>
    </ng-template>

    <ng-template let-editing="editing" let-line pTemplate="body">
      <tr [pEditableRow]="line">
        <td class="text-bold">{{ line.costRequestReferenceNumber ?? "—" }}</td>
        <td>{{ line.costRequestRevision }}</td>
        <td>{{ line.customer?.name }}</td>
        <td>{{ line.customerPartNumber }}</td>
        <td>{{ line.customerPartNumberRevision }}</td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-inputNumber
                (ngModelChange)="updateEditingValue(line.uid, $event)"
                [maxFractionDigits]="4"
                [minFractionDigits]="2"
                [ngModel]="editingValues.get(line.uid)"
                appAutoFocusSelect
                mode="decimal"
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ line.outsourcedCostInSystemCurrency ?? "—" }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <div class="line-outsourcing-cell">
            @if (line.outsourcingStatus) {
              <p-tag
                [severity]="
                  line.outsourcingStatus | outsourcingStatus: 'severity'
                "
                [value]="line.outsourcingStatus | outsourcingStatus"
              ></p-tag>
            }
            @if (line.outsourcingStatus === OutsourcingStatus.REJECTED) {
              <p-button
                [icon]="Icons.INFO_CIRCLE"
                [pTooltip]="'Reason: ' + line.outsourcingRejectReason"
                [text]="true"
                severity="danger"
                size="small"
                tooltipPosition="top"
              ></p-button>
            }
          </div>
        </td>
        <td class="col-actions">
          @if (editing) {
            <p-button
              (onClick)="onRowEditSave(line)"
              [icon]="Icons.CHECK"
              [text]="true"
              pSaveEditableRow
              pTooltip="Save estimate"
              severity="success"
              tooltipPosition="top"
            />
            <p-button
              (onClick)="onRowEditCancel(line)"
              [icon]="Icons.TIMES"
              [text]="true"
              pCancelEditableRow
              pTooltip="Cancel"
              severity="danger"
              tooltipPosition="top"
            />
          } @else {
            <p-button
              (onClick)="onRowEditInit(line)"
              [icon]="Icons.PENCIL"
              [text]="true"
              pInitEditableRow
              pTooltip="Set outsourced cost"
              tooltipPosition="top"
            />
            <p-overlay-badge
              [value]="line.nbMessages > 0 ? line.nbMessages.toString() : '0'"
              class="icon-badge-without-bg"
              severity="info"
            >
              <p-button
                (click)="manageLineMessages(line)"
                [icon]="Icons.MESSAGE"
                [text]="true"
                pTooltip="Messages"
                tooltipPosition="top"
              ></p-button>
            </p-overlay-badge>
            <p-button
              (onClick)="rejectLine(line)"
              [icon]="Icons.TIMES_CIRCLE"
              [text]="true"
              pTooltip="Reject"
              severity="danger"
              tooltipPosition="top"
            />
          }
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr class="p-datatable-emptymessage">
        <td colspan="7">No data</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
