.cr-line-description {
  max-width: 280px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.line-outsourcing-cell {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

p-inputNumber {
  width: 10rem;
}
