<p-card>
  <ng-template pTemplate="header">
    <div class="card-header">
      <app-custom-title [title]="title"></app-custom-title>
    </div>
  </ng-template>
  <p-table
    #dt
    [globalFilterFields]="[
      'costRequestReferenceNumber',
      'customer.name',
      'customerPartNumber',
      'description',
    ]"
    [loading]="loading"
    [paginator]="true"
    [rowsPerPageOptions]="rowsPerPageOptions"
    [rows]="maxRowDefault"
    [value]="lines()"
    class="app-table"
    dataKey="uid"
  >
    <ng-template pTemplate="caption">
      <div class="table-caption">
        <div class="caption-action-button">
          <p-iconfield iconPosition="left">
            <p-inputicon>
              <i [class]="Icons.SEARCH" aria-hidden="true"></i>
            </p-inputicon>
            <input
              (input)="applyFilterGlobal($event)"
              [(ngModel)]="searchText"
              aria-label="Search pending approval lines"
              class="search-input"
              pInputText
              placeholder="Search text"
              type="text"
            />
          </p-iconfield>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>{{ TableColsTitle.REFERENCE_NUMBER }}</th>
        <th>{{ TableColsTitle.REVISION }}</th>
        <th>{{ TableColsTitle.CUSTOMER }}</th>
        <th>{{ TableColsTitle.CUSTOMER_PART_NUMBER }}</th>
        <th>{{ TableColsTitle.REVISION }}</th>
        <th>{{ TableColsTitle.DESCRIPTION }}</th>
        <th class="col-actions">{{ TableColsTitle.ACTIONS }}</th>
      </tr>
    </ng-template>
    <ng-template let-line pTemplate="body">
      <tr>
        <td class="text-bold">{{ line.costRequestReferenceNumber }}</td>
        <td>{{ line.costRequestRevision }}</td>
        <td>{{ line.customer?.name }}</td>
        <td>{{ line.customerPartNumber }}</td>
        <td>{{ line.customerPartNumberRevision }}</td>
        <td>{{ line.description }}</td>
        <td class="col-actions">
          <p-button
            (click)="viewEstimationDetails(line)"
            [icon]="Icons.DOLLAR"
            [text]="true"
            pTooltip="View estimation details"
            severity="info"
            tooltipPosition="top"
          ></p-button>
          <p-button
            (onClick)="approvePrice(line, $event)"
            [icon]="Icons.CHECK"
            [text]="true"
            appNoDoubleClick
            pTooltip="Approve price"
            severity="success"
            tooltipPosition="top"
          ></p-button>
          <p-button
            (onClick)="rejectPrice(line)"
            [delay]="2000"
            [icon]="Icons.TIMES"
            [text]="true"
            appNoDoubleClick
            pTooltip="Reject price"
            severity="danger"
            tooltipPosition="top"
          ></p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr class="p-datatable-emptymessage">
        <td colspan="7">No data</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
