<div class="process-estimation-tab">
  <p-table
    #processTable
    [globalFilterFields]="['processName']"
    [loading]="loading()"
    [value]="sortedProcesses()"
    class="app-table"
    dataKey="processId"
  >
    <ng-template pTemplate="caption">
      <div class="table-caption">
        @if (!readOnly()) {
          <div class="caption-action-button">
            <div class="process-selector">
              <p-select
                (onChange)="onChangedProcess($event)"
                [options]="availableProcesses()"
                appendTo="body"
                filter="true"
                filterBy="name"
                optionLabel="name"
                placeholder="Search and select a process..."
              />
            </div>
          </div>
        }
        <p-iconfield class="ml-auto" iconPosition="left">
          <p-inputicon>
            <i [class]="Icons.SEARCH"></i>
          </p-inputicon>
          <input
            (input)="applyFilterGlobal($event)"
            [(ngModel)]="searchText"
            class="search-input"
            pInputText
            placeholder="Search text"
            type="text"
          />
        </p-iconfield>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>{{ TableColsTitle.PROCESS_NAME }}</th>
        <th>{{ TableColsTitle.COST_PER_MINUTE }}</th>
        <th>{{ TableColsTitle.TIME_PER_PIECE_IN_SECONDS }}</th>
        <th>{{ TableColsTitle.UNIT_COST_MYR }}</th>
        <th>{{ TableColsTitle.QUANTITY }}</th>
        <th>{{ TableColsTitle.TOTAL_COST }}</th>
        <th class="col-actions">{{ TableColsTitle.ACTIONS }}</th>
      </tr>
    </ng-template>

    <ng-template let-row pTemplate="body">
      <tr
        (click)="!row.isEditing && !readOnly() && onRowClick(row)"
        [attr.data-row-id]="row.processId"
        [class.editing-row]="row.isEditing"
        [style.cursor]="!row.isEditing && !readOnly() ? 'pointer' : 'default'"
      >
        <td class="col-align-flex text-bold">
          @if (row.processIsSetup) {
            <p-chip [label]="row.processName" class="chip--warn medium" />
          } @else {
            {{ row.processName }}
          }
        </td>
        <td>
          <span
            >{{ row.processCostPerMinute || 0 | number: "1.2-3" }} MYR/min</span
          >
        </td>
        <td data-column="cycle-time">
          @if (
            row.isEditing &&
            (hasCustomerShipmentLocation() || row.processIsSetup)
          ) {
            <p-inputNumber
              (ngModelChange)="onCycleTimeChange(row, $event)"
              (onFocus)="$any($event.target).select()"
              [(ngModel)]="row.processCycleTimeInSeconds"
              [maxFractionDigits]="4"
              [minFractionDigits]="0"
              [min]="0"
              [showButtons]="false"
              class="w-full"
            ></p-inputNumber>
          } @else {
            <span>{{
              row.processCycleTimeInSeconds || 0 | number: "1.0-4"
            }}</span>
          }
        </td>
        <td>
          <span>
            <span class="currency-badge">RM</span>
            {{ row.unitCostInSystemCurrency || 0 | number: "1.2-4" }}
          </span>
        </td>
        <td data-column="quantity">
          @if (!row.processIsSetup) {
            @if (row.isEditing) {
              <p-inputNumber
                #quantityInput
                (ngModelChange)="onQuantityChange(row, $event)"
                (onFocus)="$any($event.target).select()"
                [(ngModel)]="row.quantity"
                [maxFractionDigits]="3"
                [minFractionDigits]="0"
                [min]="0"
                [showButtons]="true"
                class="w-full"
              ></p-inputNumber>
            } @else {
              <span>{{ row.quantity || 0 | number: "1.0-3" }}</span>
            }
          }
        </td>

        <td>
          @if (!row.processIsSetup) {
            <span>
              <span class="currency-badge">RM</span>
              @if (row.totalCostInSystemCurrency < 1) {
                {{ row.totalCostInSystemCurrency || 0 | number: "1.2-4" }}
              } @else {
                {{ row.totalCostInSystemCurrency || 0 | number: "1.2-2" }}
              }
            </span>
          }
        </td>
        <td (click)="$event.stopPropagation()" class="col-actions">
          @if (!readOnly()) {
            @if (row.isEditing) {
              <p-button
                (click)="saveRow(row)"
                [icon]="Icons.CHECK"
                [text]="true"
                pTooltip="Save"
                severity="success"
                tooltipPosition="top"
              />
              <p-button
                (click)="cancelEdit(row)"
                [icon]="Icons.TIMES"
                [text]="true"
                pTooltip="Cancel"
                severity="danger"
                tooltipPosition="top"
              />
            } @else {
              <p-button
                (click)="editRow(row)"
                [icon]="Icons.PENCIL"
                [text]="true"
                pTooltip="Edit"
                tooltipPosition="top"
              />
              <p-button
                (click)="deleteRow(row)"
                [icon]="Icons.TRASH"
                [text]="true"
                pTooltip="Delete"
                severity="danger"
                tooltipPosition="top"
              />
            }
          }
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr class="p-datatable-emptymessage">
        <td colspan="9">No data</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-popover
  #validationPopover
  [styleClass]="'popover-' + popoverSeverity()"
  appendTo="body"
>
  <div class="required-field-popover">
    <i
      [class]="
        popoverSeverity() === 'error'
          ? Icons.EXCLAMATION_CIRCLE
          : Icons.EXCLAMATION_TRIANGLE
      "
    ></i>
    <span>{{ popoverMessage() }}</span>
  </div>
</p-popover>
