<p-card class="container dialog">
  <form [formGroup]="processForm">
    <div class="p-fields-row">
      <div class="p-field">
        <app-input-container
          [formControlName]="ProcessFormField.NAME"
          label="Name"
        ></app-input-container>
      </div>
      <div class="setup-process-field">
        <label>
          Setup process
          <i
            class="pi pi-info-circle setup-hint"
            pTooltip="A setup process is a one-time cost not multiplied by quantity. Its cycle time can be overridden per estimation."
            tooltipPosition="top"
          ></i>
        </label>
        <p-checkbox
          [binary]="true"
          [formControlName]="ProcessFormField.SETUP_PROCESS"
        ></p-checkbox>
      </div>
    </div>
    <div class="p-fields-row currency-container">
      <div class="p-field">
        <label for="currency"
          >Currency <span class="required-indicator">*</span></label
        >
        <p-select
          [formControlName]="ProcessFormField.CURRENCY_UID"
          [options]="currencies()"
          appendTo="body"
          inputId="currency"
          optionLabel="code"
          placeholder="Select currency"
        >
        </p-select>
      </div>
      <div class="p-field">
        <label for="costPerSecond"
          >Cost Per Second <span class="required-indicator">*</span></label
        >
        <p-inputNumber
          [formControlName]="ProcessFormField.COST_PER_SECOND"
          [maxFractionDigits]="4"
          [minFractionDigits]="0"
          inputId="costPerSecond"
          mode="decimal"
        ></p-inputNumber>
      </div>
    </div>
    <div class="p-fields-row">
      <app-input-container
        [formControlName]="ProcessFormField.DYSON_CYCLE_TIME_IN_SECONDS"
        [maxFractionDigits]="3"
        [minFractionDigits]="0"
        [min]="0"
        label="Dyson Cycle Time (sec)"
        type="number"
      ></app-input-container>
      <app-input-container
        [formControlName]="ProcessFormField.NON_DYSON_CYCLE_TIME_IN_SECONDS"
        [maxFractionDigits]="3"
        [minFractionDigits]="0"
        [min]="0"
        label="Non-Dyson Cycle Time (sec)"
        type="number"
      ></app-input-container>
    </div>
    <p-button
      (click)="createEditProcess()"
      [disabled]="!processForm.valid"
      [icon]="Icons.CHECK"
      [label]="editMode() ? 'Edit' : 'Create'"
      class="modal-btn"
      severity="success"
      type="submit"
    ></p-button>
  </form>
</p-card>
