.p-fields-row-currency-qty {
  display: flex;
  gap: 8px;

  label {
    font-weight: 600;
  }

  .p-field-currency {
    width: 30%;
  }
}

.currencies-chips {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}
