<form [formGroup]="lineForm">
  <div class="p-fields-row">
    <div class="p-field">
      <app-input-container
        [formControlName]="CostRequestLineFormField.CUSTOMER_PART_NUMBER"
        label="Customer P/N"
      ></app-input-container>
    </div>
    <div class="p-field">
      <app-input-container
        [formControlName]="
          CostRequestLineFormField.CUSTOMER_PART_NUMBER_REVISION
        "
        label="Revision"
      ></app-input-container>
    </div>
    <div class="p-field">
      <app-input-container
        [formControlName]="CostRequestLineFormField.DESCRIPTION"
        label="Description"
      ></app-input-container>
    </div>
    <div class="p-field">
      <label for="productName">Product name</label>
      @if (isFinalized()) {
        <div class="readonly-field">
          {{ lineEdited?.productName?.name }}
        </div>
      } @else {
        <p-select
          [filter]="true"
          [formControlName]="CostRequestLineFormField.PRODUCT_NAME"
          [options]="productNames()"
          [showClear]="true"
          filterBy="name"
          optionLabel="name"
          placeholder="Select product name"
        ></p-select>
      }
    </div>
    <div class="p-field">
      <label for="methodType"
        >Method Type <span class="required-indicator">*</span></label
      >
      @if (isFinalized()) {
        <div class="readonly-field">
          {{
            lineEdited?.costingMethodType ?? CostingMethodType.HV | crMethodType
          }}
        </div>
      } @else {
        <p-select
          [formControlName]="CostRequestLineFormField.CR_METHOD_TYPE"
          [options]="methodTypeOptions()"
          inputId="methodType"
          optionLabel="label"
          optionValue="value"
          placeholder="Select method type"
        ></p-select>
      }
    </div>
  </div>
  <div class="p-fields-row">
    <div class="p-field">
      <label [for]="CostRequestLineFormField.QUANTITIES"
        >Quantities: <span class="required-indicator">*</span></label
      >

      <p-autoComplete
        (onAdd)="addQuantities($event)"
        [addOnBlur]="true"
        [formControlName]="CostRequestLineFormField.QUANTITIES"
        [multiple]="true"
        [separator]="RegexPatterns.CHIP_SEPARATOR"
        [typeahead]="false"
        placeholder="e.g: 10, 20..."
      >
      </p-autoComplete>
    </div>
  </div>

  <div class="modal-actions-footer-end">
    @if (!viewOnly()) {
      <p-button
        (onClick)="createEditLine()"
        [delay]="3000"
        [disabled]="lineForm.invalid"
        [icon]="Icons.CHECK"
        [label]="editMode() ? 'Update' : 'Create'"
        appNoDoubleClick
        severity="success"
      ></p-button>
    }
    <p-overlay-badge
      [value]="filesIds().length > 0 ? filesIds().length.toString() : '0'"
      severity="secondary"
    >
      <p-button
        (click)="manageFiles()"
        [icon]="Icons.FILE"
        [label]="(!viewOnly() ? 'Manage' : 'View') + ' Files'"
        [outlined]="true"
        severity="secondary"
        type="button"
      ></p-button>
    </p-overlay-badge>

    <p-button
      (click)="closeDialog(false)"
      [icon]="Icons.TIMES"
      [label]="viewOnly() ? 'Close' : 'Cancel'"
      [outlined]="true"
      severity="secondary"
      type="button"
    ></p-button>
  </div>
</form>
