.accordion-header-title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.add-qty-request-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 0.3rem;
}

.qty-lines {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.4rem;

  .qty-request-line {
    display: flex;
    align-items: center;
  }
}

.p-field {
  margin-bottom: 0.5rem;
}
