@if (shouldDisplay()) {
  <div class="conversion-info">
    <p-card class="conversion-card">
      @if (showHeader()) {
        <ng-template pTemplate="header">
          <div class="conversion-header">
            <i [class]="headerIcon()"></i>
            <span>{{ headerTitle() }}</span>
          </div>
        </ng-template>
      }
      <div class="conversion-details">
        <div class="conversion-row">
          <span class="conversion-label">Selected Currency:</span>
          <p-tag [value]="currency()!.code" severity="info"></p-tag>
        </div>
        <div class="conversion-row">
          <span class="conversion-label">Exchange Rate:</span>
          <span class="conversion-value">{{
            exchangeRate() | number: "1.2-6"
          }}</span>
        </div>
        <div class="conversion-row">
          <span class="conversion-label"
            >{{ label() }} in {{ currency()!.code }}:</span
          >
          <span class="conversion-value">{{ amount() | number: "1.2-2" }}</span>
        </div>
        <div class="conversion-row cost-in-myr">
          <span class="conversion-label"
            >{{ label() }} in {{ targetCurrencyCode() }}:</span
          >
          <span class="conversion-value-highlight"
            >{{ convertedAmount() | number: "1.2-2" }}
            {{ targetCurrencyCode() }}</span
          >
        </div>
      </div>
    </p-card>
  </div>
}
