<p-card class="container dialog">
  <form [formGroup]="form">
    <div class="p-fields-row">
      <div class="p-field">
        <app-input-container
          [formControlName]="SupplierManufacturerFormField.NAME"
          label="Name"
        ></app-input-container>
      </div>
      <div class="p-field">
        <app-input-container
          [formControlName]="SupplierManufacturerFormField.CODE"
          label="Code"
        ></app-input-container>
      </div>
    </div>
    <div class="p-fields-row">
      <div class="p-field">
        <label for="type">Type <span class="required-indicator">*</span></label>
        <p-select
          [formControlName]="SupplierManufacturerFormField.TYPE"
          [options]="typeOptions()"
          appendTo="body"
          aria-label="Type"
          inputId="type"
          optionLabel="label"
          optionValue="value"
          placeholder="Select a type"
        ></p-select>
      </div>
      <div class="p-field">
        <label for="shipmentMethod">Shipment Method</label>
        <p-select
          [formControlName]="SupplierManufacturerFormField.SHIPMENT_METHOD"
          [options]="shipmentMethods()"
          [showClear]="true"
          appendTo="body"
          aria-label="Shipment Method"
          inputId="shipmentMethod"
          optionLabel="name"
          optionValue="uid"
          placeholder="Select a shipment method"
        ></p-select>
      </div>
    </div>
    <p-button
      (click)="createEdit()"
      [disabled]="!form.valid"
      [icon]="Icons.CHECK"
      [label]="editMode() ? 'Edit' : 'Create'"
      class="modal-btn"
      severity="success"
      type="submit"
    ></p-button>
  </form>
</p-card>
