<p-card>
  <ng-template pTemplate="header">
    <div class="card-header">
      <app-custom-title [title]="title"></app-custom-title>
    </div>
  </ng-template>
  <p-table
    (onLazyLoad)="loadData($event)"
    [lazy]="true"
    [loading]="loading"
    [paginator]="true"
    [resizableColumns]="true"
    [rowsPerPageOptions]="rowsPerPageOptions"
    [rows]="maxRowDefault"
    [totalRecords]="totalRecords"
    [value]="currencies()"
    class="app-table"
    dataKey="uid"
  >
    <ng-template pTemplate="caption">
      <div class="table-caption">
        <div class="caption-action-button">
          <app-search-input
            (eventSearchValidate)="activateSearch($event)"
          ></app-search-input>
        </div>
        <div class="caption-action-button">
          <p-button
            (click)="createCurrency()"
            [icon]="Icons.PLUS"
            [raised]="true"
            label="Currency"
          ></p-button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>{{ TableColsTitle.CODE }}</th>
        <th>{{ TableColsTitle.EXCHANGE_RATES }}</th>
        <th>{{ TableColsTitle.CREATION_DATE }}</th>
        <th class="col-actions">{{ TableColsTitle.ACTIONS }}</th>
      </tr>
    </ng-template>
    <ng-template let-currency pTemplate="body">
      <tr>
        <td class="text-bold">
          {{ currency.code }}
        </td>
        <td>
          <p-button
            (onClick)="exchangeRatesPopover.toggle($event)"
            [icon]="Icons.INFO_CIRCLE"
            [label]="currency.exchangeRates?.length + ' rates'"
            [text]="true"
            severity="info"
          ></p-button>
          <p-popover #exchangeRatesPopover>
            <div class="exchange-rates-popover">
              <h4 class="popover-title">
                <i class="pi pi-arrow-right-arrow-left"></i>
                Exchange Rates for {{ currency.code }}
              </h4>
              @if (
                currency.exchangeRates && currency.exchangeRates.length > 0
              ) {
                <div class="rates-list">
                  @for (
                    rate of currency.exchangeRates;
                    track rate.toCurrencyCode
                  ) {
                    <div class="rate-item">
                      <div class="rate-from">
                        <span class="rate-value">1</span>
                        <p-tag [value]="currency.code" severity="info"></p-tag>
                      </div>
                      <i class="pi pi-arrow-right rate-arrow"></i>
                      <div class="rate-to">
                        <span class="rate-value">{{
                          rate.rate | number: "1.2-6"
                        }}</span>
                        <p-tag
                          [value]="rate.toCurrencyCode"
                          severity="success"
                        ></p-tag>
                      </div>
                    </div>
                  }
                </div>
              } @else {
                <p class="no-rates">No exchange rates configured</p>
              }
            </div>
          </p-popover>
        </td>
        <td>
          {{ currency.creationDate | date: "MM-dd-yyyy HH:mm" }}
        </td>
        <td class="col-actions">
          <p-button
            (click)="editCurrency(currency)"
            [icon]="Icons.PENCIL"
            [text]="true"
            pTooltip="Edit"
            tooltipPosition="top"
          >
          </p-button>
          <p-button
            (click)="viewHistory(currency)"
            [icon]="Icons.HISTORY"
            [text]="true"
            pTooltip="History"
            severity="info"
            tooltipPosition="top"
          >
          </p-button>
          <p-button
            (onClick)="archiveCurrency(currency)"
            [delay]="2000"
            [icon]="Icons.ARCHIVE"
            [text]="true"
            appNoDoubleClick
            pTooltip="Archive"
            severity="danger"
            tooltipPosition="top"
          >
          </p-button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr class="p-datatable-emptymessage">
        <td colspan="10">No data</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
