.accordion-header-title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

:host ::ng-deep .nb-files .p-badge {
  transform: translate(15px, -15px);
  background-color: transparent;
  color: var(--secondary-color);
}
