<p-card class="container dialog">
  <form [formGroup]="materialCategoryForm">
    <div class="p-fields-row">
      <div class="p-field">
        <app-input-container
          [formControlName]="MaterialCategoryFormField.NAME"
          label="Name"
        ></app-input-container>
      </div>
      <div class="p-field">
        <app-input-container
          [formControlName]="MaterialCategoryFormField.ABBREVIATION"
          label="Abbreviation"
        ></app-input-container>
      </div>
    </div>
    <p-button
      (click)="createEditMaterialCategory()"
      [disabled]="!materialCategoryForm.valid"
      [icon]="Icons.CHECK"
      [label]="editMode() ? 'Edit' : 'Create'"
      class="modal-btn"
      severity="success"
      type="submit"
    ></p-button>
  </form>
</p-card>
