<p-card class="container dialog">
  <form [formGroup]="unitForm">
    <div class="p-fields-row">
      <div class="p-field">
        <app-input-container
          [formControlName]="UnitFormField.NAME"
          label="Name"
        ></app-input-container>
      </div>
    </div>
    <p-button
      (click)="createEditUnit()"
      [disabled]="!unitForm.valid"
      [label]="editMode() ? 'Edit' : 'Create'"
      class="modal-btn"
      severity="success"
      type="submit"
    ></p-button>
  </form>
</p-card>
