<p-card>
  <ng-template pTemplate="header">
    <div class="card-header">
      <app-custom-title [title]="title"></app-custom-title>
    </div>
  </ng-template>
  <p-table
    (onLazyLoad)="loadData($event)"
    [lazy]="true"
    [loading]="loading"
    [paginator]="true"
    [resizableColumns]="true"
    [rowsPerPageOptions]="rowsPerPageOptions"
    [rows]="maxRowDefault"
    [totalRecords]="totalRecords"
    [value]="items()"
    class="app-table"
    dataKey="uid"
  >
    <ng-template pTemplate="caption">
      <div class="table-caption">
        <div class="caption-action-button">
          <app-search-input
            (eventSearchValidate)="activateSearch($event)"
          ></app-search-input>
        </div>
        <div class="caption-action-button">
          <p-button
            (click)="createItem()"
            [icon]="Icons.PLUS"
            [raised]="true"
            label="Supplier / Manufacturer"
          ></p-button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>{{ TableColsTitle.NAME }}</th>
        <th>{{ TableColsTitle.CODE }}</th>
        <th>{{ TableColsTitle.TYPE }}</th>
        <th>{{ TableColsTitle.SHIPMENT_METHOD }}</th>
        <th class="col-actions">{{ TableColsTitle.ACTIONS }}</th>
      </tr>
    </ng-template>
    <ng-template let-item pTemplate="body">
      <tr>
        <td class="text-bold">{{ item.name }}</td>
        <td>{{ item.code ?? "-" }}</td>
        <td>
          <p-chip
            [class]="getTypeChipClass(item.type) + ' chip--square'"
            [label]="item.type | supplierAndManufacturerType"
          />
        </td>
        <td>
          @if (item.shipmentMethod) {
            {{ item.shipmentMethod.name }}
            @if (item.shipmentMethod.percentage != null) {
              ({{ item.shipmentMethod.percentage }}%)
            }
          } @else if (item.type === SupplierAndManufacturerType.SUPPLIER || item.type === SupplierAndManufacturerType.BOTH) {
            <p-chip class="chip--danger" label="Missing"></p-chip>
          } @else {
            -
          }
        </td>
        <td class="col-actions">
          <p-button
            (click)="editItem(item)"
            [icon]="Icons.PENCIL"
            [text]="true"
            pTooltip="Edit"
            tooltipPosition="top"
          ></p-button>
          @if (isAdmin()) {
            <p-button
              (onClick)="archiveItem(item)"
              [delay]="2000"
              [icon]="Icons.ARCHIVE"
              [text]="true"
              appNoDoubleClick
              pTooltip="Archive"
              severity="danger"
              tooltipPosition="top"
            ></p-button>
          }
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr class="p-datatable-emptymessage">
        <td colspan="5">No data</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
