<p-accordion [multiple]="false" [value]="0">
  <p-accordion-panel [value]="0">
    <p-accordion-header>
      <div class="accordion-header-title">
        <span
          [class]="Icons.FILE + ' nb-files'"
          [value]="
            drawingsFilesPresents()
              ? drawingsFilesPresents().length.toString()
              : 0
          "
          badgeSize="large"
          pBadge
        ></span>
        <span>Drawings</span>
      </div>
    </p-accordion-header>
    <p-accordion-content>
      <app-manage-file
        (deletionFileUidsEventEmitter)="deletionDrawingsReceiver($event)"
        (downloadableFileUidsEventEmitter)="downloadDrawingsReceiver($event)"
        (uploadedEventEmitter)="
          uploadRequestFilesReceiver(
            $event,
            drawingsFilesPresents,
            FileType.ANY
          )
        "
        [defaultUrl]="defaultUrl"
        [filesPresent]="drawingsFilesPresents()"
        [multiple]="multiple"
        [showDownloadButton]="showDownloadBtn"
        [showGlobalDownloadBtn]="showGlobalDownloadBtn"
        [showUploadButton]="true"
        [userOnlyDownloadAccess]="onlyDownloadable"
      ></app-manage-file>
    </p-accordion-content>
  </p-accordion-panel>
</p-accordion>
<p-button
  (click)="handleClose()"
  [icon]="Icons.TIMES"
  [text]="true"
  class="close-modal-btn"
  severity="secondary"
></p-button>
