<div class="pb-container">
  <div class="pb-stat">
    <div class="pb-stat-icon pb-stat-icon--materials">
      <i [class]="Icons.CUBE"></i>
    </div>
    <div class="pb-stat-body">
      <span class="pb-stat-value">{{ data()?.materialsToEstimateCount ?? 0 }}</span>
      <span class="pb-stat-label">Materials to Estimate</span>
    </div>
  </div>
  <div class="pb-divider"></div>
  <div class="pb-stat">
    <div class="pb-stat-icon pb-stat-icon--tooling">
      <i [class]="Icons.WRENCH"></i>
    </div>
    <div class="pb-stat-body">
      <span class="pb-stat-value">{{ data()?.toolingToOutsourceCount ?? 0 }}</span>
      <span class="pb-stat-label">Toolings to Outsource</span>
    </div>
  </div>
  <div class="pb-divider"></div>
  <div class="pb-stat">
    <div class="pb-stat-icon pb-stat-icon--lines">
      <i [class]="Icons.LIST"></i>
    </div>
    <div class="pb-stat-body">
      <span class="pb-stat-value">{{ data()?.costLinesToOutsourceCount ?? 0 }}</span>
      <span class="pb-stat-label">Lines to Outsource</span>
    </div>
  </div>
</div>
