<p-card>
  <ng-template pTemplate="header">
    <div class="card-header">
      <app-custom-title title="Tooling (to estimate)"></app-custom-title>
    </div>
  </ng-template>

  <p-table
    (onLazyLoad)="loadData($event)"
    [lazy]="true"
    [loading]="loading"
    [paginator]="true"
    [resizableColumns]="true"
    [rowsPerPageOptions]="rowsPerPageOptions"
    [rows]="maxRowDefault"
    [totalRecords]="totalRecords"
    [value]="toolingRows()"
    class="app-table"
    dataKey="uid"
    editMode="row"
  >
    <ng-template pTemplate="caption">
      <div class="table-caption">
        <div class="caption-action-button">
          <app-search-input
            (eventSearchValidate)="activateSearch($event)"
          ></app-search-input>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th>{{ TableColsTitle.DESCRIPTION }}</th>
        <th>{{ TableColsTitle.TOOLING_PART_NUMBER }}</th>
        <th>{{ TableColsTitle.QUANTITY }}</th>
        <th>{{ TableColsTitle.UNIT_COST_MYR }}</th>
        <th>{{ TableColsTitle.OUTSOURCING_STATUS }}</th>
        <th class="col-actions">{{ TableColsTitle.ACTIONS }}</th>
      </tr>
    </ng-template>

    <ng-template let-editing="editing" let-row pTemplate="body">
      <tr [pEditableRow]="row">
        <td>{{ row.description }}</td>
        <td>{{ row.toolingPartNumber ?? "-" }}</td>
        <td>{{ row.quantity }}</td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-inputNumber
                (ngModelChange)="updateEditingValue(row.uid, $event)"
                [maxFractionDigits]="4"
                [minFractionDigits]="2"
                [ngModel]="editingValues.get(row.uid)"
                appAutoFocusSelect
                mode="decimal"
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ row.unitCostInCurrency ?? "-" }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-tag
            [severity]="
              row.outsourcingStatus === OutsourcingStatus.ESTIMATED
                ? 'success'
                : 'warn'
            "
            [value]="row.outsourcingStatus | outsourcingStatus"
          />
        </td>
        <td class="col-actions">
          @if (editing) {
            <p-button
              (onClick)="onRowEditSave(row)"
              [icon]="Icons.CHECK"
              [text]="true"
              pSaveEditableRow
              pTooltip="Validate estimate"
              severity="success"
              tooltipPosition="top"
            />
            <p-button
              (onClick)="onRowEditCancel(row)"
              [icon]="Icons.TIMES"
              [text]="true"
              pCancelEditableRow
              pTooltip="Cancel"
              severity="danger"
              tooltipPosition="top"
            />
          } @else {
            <p-button
              (onClick)="onRowEditInit(row)"
              [icon]="Icons.PENCIL"
              [text]="true"
              pInitEditableRow
              pTooltip="Estimate"
              tooltipPosition="top"
            />
            <p-overlay-badge
              [value]="row.nbFiles! > 0 ? row.nbFiles!.toString() : '0'"
              class="icon-badge-without-bg"
              severity="info"
            >
              <p-button
                (click)="manageFiles(row)"
                [icon]="Icons.FOLDER"
                [pTooltip]="'Manage Files'"
                [text]="true"
                tooltipPosition="top"
              >
              </p-button>
            </p-overlay-badge>
            <p-overlay-badge
              [value]="row.nbMessages > 0 ? row.nbMessages.toString() : '0'"
              class="icon-badge-without-bg"
              severity="info"
            >
              <p-button
                (click)="manageMessages(row)"
                [icon]="Icons.MESSAGE"
                [text]="true"
                pTooltip="Messages"
                tooltipPosition="top"
              />
            </p-overlay-badge>
            <p-button
              (onClick)="rejectTooling(row)"
              [icon]="Icons.TIMES_CIRCLE"
              [text]="true"
              pTooltip="Reject"
              severity="danger"
              tooltipPosition="top"
            />
          }
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr class="p-datatable-emptymessage">
        <td colspan="7">No data</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
