<p-card>
  <p-table
    [loading]="loading()"
    [paginatorDropdownAppendTo]="'body'"
    [paginator]="true"
    [rowsPerPageOptions]="[5, 10, 20]"
    [rows]="10"
    [value]="history()"
    class="app-table"
    dataKey="toCurrencyCode"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>{{ TableColsTitle.TARGET_CURRENCY }}</th>
        <th>{{ TableColsTitle.OLD_RATE }}</th>
        <th>{{ TableColsTitle.NEW_RATE }}</th>
        <th>{{ TableColsTitle.CHANGE_DATE }}</th>
      </tr>
    </ng-template>

    <ng-template let-item pTemplate="body">
      <tr>
        <td>
          <p-tag [value]="item.toCurrencyCode" severity="info"></p-tag>
        </td>
        <td>
          <span class="rate-value">{{ item.oldRate | number: "1.2-6" }}</span>
        </td>
        <td>
          <span class="rate-value">{{ item.newRate | number: "1.2-6" }}</span>
        </td>
        <td>
          {{ item.changeDate | date: "MM-dd-yyyy HH:mm" }}
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr class="p-datatable-emptymessage">
        <td colspan="4">No data</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
