<div class="chart-container">
  <app-indicator-filter
    (indicatorBodyEmitter)="indicatorBodyReceiver($event)"
    [showCustomer]="true"
  ></app-indicator-filter>
  @if (graph() && graph()?.name) {
    <app-echarts-graph
      [chartType]="ChartType.BAR"
      [graph]="graph()"
    ></app-echarts-graph>
  } @else {
    <div class="no-data-message">
      <i class="pi pi-chart-bar"></i>
      <p>No data available</p>
      <span>Try adjusting your filters or check back later</span>
    </div>
  }
</div>
