<p-card>
  <ng-template pTemplate="header">
    <div class="card-header">
      <app-custom-title title="Material (to estimate)"></app-custom-title>
    </div>
  </ng-template>
  <p-tabs (valueChange)="onTabChange($event)" [value]="0">
    <p-tablist>
      <p-tab [value]="0">
        <div class="tabs-header">
          <span>Direct</span>
          <span
            [class.selection-count]="tabIndex() === 0"
            class="custom-tag-info"
          >
            {{ directCount() ?? "..." }}
          </span>
        </div>
      </p-tab>
      <p-tab [value]="1">
        <div class="tabs-header">
          <span>Indirect</span>
          <span
            [class.selection-count]="tabIndex() === 1"
            class="custom-tag-info"
          >
            {{ indirectCount() ?? "..." }}
          </span>
        </div>
      </p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel [value]="0">
        <app-materials-list
          (totalRecordsChange)="directCount.set($event)"
          [filterMaterialStatus]="[MaterialStatus.TO_BE_ESTIMATED]"
          [filterMaterialType]="MaterialType.DIRECT"
        ></app-materials-list>
      </p-tabpanel>
      <p-tabpanel [value]="1">
        <app-materials-list
          (totalRecordsChange)="indirectCount.set($event)"
          [filterMaterialStatus]="[MaterialStatus.TO_BE_ESTIMATED]"
          [filterMaterialType]="MaterialType.INDIRECT"
        ></app-materials-list>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</p-card>
