@if (isLoading()) {
  <div class="loading-container">
    <p-progressSpinner ariaLabel="Loading" />
  </div>
} @else {
  <div class="add-form">
    <div class="p-fields-row">
      <div class="p-field">
        <label for="shipment-location-select">Shipment Location</label>
        <p-select
          (onChange)="onShipmentLocationChange()"
          [(ngModel)]="selectedShipmentLocation"
          [options]="shipmentLocations()"
          appendTo="body"
          id="shipment-location-select"
          optionLabel="name"
          placeholder="Select a shipment location"
        />
      </div>
      <div class="p-field">
        <label for="currency-select">Currency</label>
        <p-select
          [(ngModel)]="selectedCurrency"
          [disabled]="!selectedShipmentLocation()"
          [options]="availableCurrencies()"
          appendTo="body"
          id="currency-select"
          optionLabel="code"
          placeholder="Select a currency"
        />
      </div>
      <p-button
        (click)="addShipmentLocation()"
        [disabled]="!selectedShipmentLocation() || !selectedCurrency()"
        [icon]="Icons.PLUS"
        [loading]="isSaving()"
        label="Add"
        severity="success"
      />
    </div>
  </div>

  <p-table [value]="customerShipmentLocations()" class="app-table">
    <ng-template pTemplate="header">
      <tr>
        <th>Shipment Location</th>
        <th>Currency</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template let-item pTemplate="body">
      <tr>
        <td class="text-bold">{{ item.shipmentLocation.name }}</td>
        <td>{{ item.currency.code }}</td>
        <td class="col-actions">
          <p-button
            (click)="deleteShipmentLocation(item)"
            [icon]="Icons.TRASH"
            [text]="true"
            pTooltip="Remove"
            severity="danger"
            tooltipPosition="top"
          />
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr class="p-datatable-emptymessage">
        <td colspan="3">No shipment locations assigned</td>
      </tr>
    </ng-template>
  </p-table>
}
