.loading-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.add-form {
  margin-bottom: 1rem;

  .p-fields-row {
    align-items: flex-end;

    p-button {
      margin-bottom: 0.5rem;
    }
  }
}
