.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.tab-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;

  label {
    font-weight: 600;
  }
}

.tab-actions {
  display: flex;

  p-button {
    width: 100%;
  }
}

.email-error {
  color: var(--p-red-500);
}
