<form [formGroup]="costRequestForm">
  <div class="p-fields-row">
    <div class="p-field">
      <label>Reference Number</label>
      <div class="readonly-field">
        {{ costRequestSelected?.costRequestReferenceNumber }}
      </div>
    </div>
    <div class="p-field">
      <label>Revision</label>
      <div class="readonly-field">
        {{ costRequestSelected?.costRequestRevision }}
      </div>
    </div>
  </div>
  <div class="p-fields-row">
    <div class="p-field">
      <label for="methodType"
        >Customer <span class="required-indicator">*</span></label
      >
      @if (isFinalized()) {
        <div class="readonly-field">
          {{ costRequestSelected?.customer?.name }}
        </div>
      } @else {
        <p-select
          [filter]="true"
          [formControlName]="CostRequestFormField.CUSTOMER"
          [options]="customers()"
          appendTo="body"
          filterBy="name"
          optionLabel="name"
          placeholder="Select customer type"
        ></p-select>
      }
    </div>
    <div class="p-field">
      <app-input-container
        [formControlName]="CostRequestFormField.PROJECT_NAME"
        label="Project Name"
      ></app-input-container>
    </div>
    <div class="p-field">
      <label for="methodType"
        >Currency <span class="required-indicator">*</span></label
      >
      @if (isFinalized()) {
        <div class="readonly-field">
          {{ costRequestSelected?.currency?.code }}
        </div>
      } @else {
        <p-select
          [formControlName]="CostRequestFormField.CURRENCY"
          [options]="currencies()"
          optionLabel="code"
          placeholder="Select currency type"
        ></p-select>
      }
    </div>
  </div>
  <div class="p-fields-row">
    <div class="p-field">
      <label for="requestorName">Requestor Name</label>
      <p-iconfield iconPosition="left">
        <p-inputicon
          (click)="showRequestorNames($event)"
          [class]="Icons.LIST"
          pTooltip="Select requestor names"
          style="cursor: pointer"
          tooltipPosition="top"
        ></p-inputicon>
        <input
          [formControlName]="CostRequestFormField.REQUESTOR_NAME"
          id="requestorName"
          pInputText
        />
      </p-iconfield>
      <p-popover
        #requestorNamesPopover
        [styleClass]="
          requestorNamesMessage()
            ? 'popover-' + requestorNamesMessageSeverity()
            : ''
        "
        appendTo="body"
      >
        @if (requestorNamesMessage()) {
          <span>{{ requestorNamesMessage() }}</span>
        } @else {
          <p-listbox
            (onChange)="selectRequestorName($event.value)"
            [filter]="true"
            [options]="requestorNameSuggestions()"
            [style]="{ width: '250px', maxHeight: '300px' }"
            filterPlaceholder="Filter names..."
          ></p-listbox>
        }
      </p-popover>
    </div>
    <div class="p-field">
      <label for="poDate">Purchase Order Expected Date</label>
      <p-datePicker
        [formControlName]="CostRequestFormField.PURCHASE_ORDER_EXPECTED_DATE"
        [minDate]="today"
        [readonlyInput]="true"
        appendTo="body"
        inputId="poDate"
      ></p-datePicker>
    </div>
  </div>
  <div class="p-field">
    <label [for]="CostRequestFormField.CUSTOMER_EMAILS">Customer Emails</label>
    @if (!viewOnly()) {
      <p-iconfield iconPosition="left">
        <p-inputicon
          (click)="showCustomerEmails($event)"
          [class]="Icons.LIST"
          pTooltip="Select customer emails"
          style="cursor: pointer"
          tooltipPosition="top"
        ></p-inputicon>
        <p-autoComplete
          (onAdd)="addEmail($event)"
          [addOnBlur]="true"
          [formControlName]="CostRequestFormField.CUSTOMER_EMAILS"
          [multiple]="true"
          [separator]="RegexPatterns.CHIP_SEPARATOR"
          [typeahead]="false"
          placeholder="e.g: email1@example.com, email2@example.com..."
        >
        </p-autoComplete>
      </p-iconfield>
      <p-popover
        #customerEmailsPopover
        [styleClass]="
          customerEmailsMessage()
            ? 'popover-' + customerEmailsMessageSeverity()
            : ''
        "
        appendTo="body"
      >
        @if (customerEmailsMessage()) {
          <span>{{ customerEmailsMessage() }}</span>
        } @else {
          <p-listbox
            (onChange)="onCustomerEmailsChange($event.value)"
            [(ngModel)]="customerEmailsSelected"
            [checkbox]="true"
            [filter]="true"
            [multiple]="true"
            [ngModelOptions]="{ standalone: true }"
            [options]="customerEmailSuggestions()"
            [style]="{ width: '300px', maxHeight: '300px' }"
            filterPlaceholder="Filter emails..."
          ></p-listbox>
        }
      </p-popover>
    } @else {
      <app-input-container
        [formControlName]="CostRequestFormField.CUSTOMER_EMAILS"
      ></app-input-container>
    }
  </div>
</form>

<div class="modal-actions-footer-end">
  @if (!viewOnly()) {
    <p-button
      (onClick)="updateCostRequest()"
      [disabled]="!costRequestForm.valid"
      [icon]="Icons.CHECK"
      appNoDoubleClick
      label="Update"
      severity="success"
      type="submit"
    ></p-button>
  }
  <p-overlay-badge
    [value]="filesIds().length > 0 ? filesIds().length.toString() : '0'"
    severity="secondary"
  >
    <p-button
      (click)="manageFiles()"
      [icon]="Icons.FOLDER"
      [label]="(!viewOnly() ? 'Manage' : 'View') + ' Files'"
      [outlined]="true"
      severity="secondary"
      type="button"
    ></p-button>
  </p-overlay-badge>
  <p-button
    (onClick)="closeDialog(false)"
    [icon]="Icons.TIMES"
    [label]="viewOnly() ? 'Close' : 'Cancel'"
    [outlined]="true"
    severity="secondary"
    type="button"
  ></p-button>
</div>
