<form (ngSubmit)="onSubmit()" [formGroup]="form" class="supplier-form">
  <!-- Supplier & Currency -->
  <div class="p-fields-row">
    <div class="p-field">
      <label>Supplier<span class="required-indicator">*</span></label>
      <p-select
        (onChange)="onSupplierChange()"
        (onClear)="onSupplierClear()"
        [filter]="true"
        [formControlName]="MaterialSupplierFormField.SUPPLIER"
        [options]="suppliers()"
        [virtualScrollItemSize]="30"
        [virtualScroll]="true"
        filterBy="name"
        optionLabel="name"
        placeholder="Select supplier"
      ></p-select>
    </div>
    <div class="default-supplier-field">
      <label
        >Default supplier
        <i
          [class]="Icons.INFO_CIRCLE"
          class="default-supplier-hint"
          pTooltip="This supplier will be used by default for cost calculations"
          tooltipPosition="top"
        ></i>
      </label>
      <p-checkbox
        [binary]="true"
        [formControlName]="MaterialSupplierFormField.DEFAULT_SUPPLIER"
      ></p-checkbox>
    </div>
  </div>
  <div class="p-fields-row">
    <div class="p-field">
      <app-input-container
        [formControlName]="MaterialSupplierFormField.SHIPMENT_METHOD"
        label="Shipment method"
      ></app-input-container>
    </div>
    <div class="p-field">
      <label
        >Purchasing Currency<span class="required-indicator">*</span></label
      >
      <p-select
        [filter]="true"
        [formControlName]="MaterialSupplierFormField.PURCHASING_CURRENCY"
        [options]="currencies()"
        appendTo="body"
        filterBy="code"
        optionLabel="code"
        placeholder="Select currency"
      ></p-select>
    </div>
  </div>

  <!-- MOQ Lines -->
  <div class="moq-section">
    <div class="moq-header">
      <h4>MOQ Lines</h4>
      <p-button
        (click)="addMoqLine()"
        [icon]="Icons.PLUS"
        [text]="true"
        label="Add MOQ Line"
        size="small"
      ></p-button>
    </div>

    <div
      [formArrayName]="MaterialSupplierFormField.MOQ_LINES"
      class="moq-table"
    >
      @if (moqLinesFormArray.length > 0) {
        <div class="moq-table-header">
          <div class="moq-col moq-col-moq">
            MOQ<span class="required-indicator">*</span>
          </div>
          <div class="moq-col moq-col-price">
            Unit Price<span class="required-indicator">*</span>
          </div>
          <div class="moq-col moq-col-lead">Lead Time</div>
          <div class="moq-col moq-col-actions"></div>
        </div>
        @for (
          moqLine of moqLinesFormArray.controls;
          track moqLine;
          let i = $index
        ) {
          <div [formGroupName]="i" class="moq-table-row">
            <div class="moq-col moq-col-moq">
              <app-input-container
                [formControlName]="
                  MaterialSupplierMoqLineFormField.MINIMUM_ORDER_QUANTITY
                "
                [minFractionDigits]="0"
                [min]="1"
                type="number"
              ></app-input-container>
            </div>
            <div class="moq-col moq-col-price">
              <app-input-container
                [formControlName]="MaterialSupplierMoqLineFormField.PRICE"
                [maxFractionDigits]="4"
                [minFractionDigits]="2"
                type="number"
              ></app-input-container>
            </div>
            <div class="moq-col moq-col-lead">
              <app-input-container
                [formControlName]="MaterialSupplierMoqLineFormField.LEAD_TIME"
              ></app-input-container>
              <p-button
                (click)="removeMoqLine(i)"
                [icon]="Icons.TRASH"
                [text]="true"
                severity="danger"
                size="small"
              ></p-button>
            </div>
          </div>
        }
      } @else {
        <div class="moq-empty">
          No MOQ lines yet. Click "Add MOQ Line" to add one.
        </div>
      }
    </div>
  </div>
</form>

<div class="modal-actions-footer-end">
  <p-button
    (onClick)="onSubmit()"
    [delay]="3000"
    [disabled]="form.invalid"
    [icon]="Icons.CHECK"
    [label]="editMode() ? 'Update' : 'Create'"
    appNoDoubleClick
    severity="success"
  ></p-button>
  <p-button
    (click)="closeDialog(false)"
    [icon]="Icons.TIMES"
    [outlined]="true"
    label="Cancel"
    severity="secondary"
  ></p-button>
</div>
