<p-table
  (onLazyLoad)="loadData($event)"
  [lazy]="true"
  [loading]="loading"
  [paginator]="true"
  [resizableColumns]="true"
  [rowsPerPageOptions]="rowsPerPageOptions"
  [rows]="maxRowDefault"
  [totalRecords]="totalRecords"
  [value]="materials()"
  class="app-table"
  dataKey="uid"
  paginatorDropdownAppendTo="body"
>
  <ng-template pTemplate="caption">
    <div class="table-caption">
      <div class="caption-action-button">
        <app-search-input
          (eventSearchValidate)="activateSearch($event)"
        ></app-search-input>
      </div>
      @if (filterMaterialStatus().includes(MaterialStatus.ESTIMATED)) {
        <div class="caption-action-button">
          <p-button
            (click)="createMaterial()"
            [icon]="Icons.PLUS"
            [raised]="true"
            label="Material"
          ></p-button>
        </div>
      }
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>{{ TableColsTitle.SYSTEM_ID }}</th>
      <th>{{ TableColsTitle.MANUFACTURER }}</th>
      <th>{{ TableColsTitle.MANUFACTURER_PART_NUMBER }}</th>
      <th>{{ TableColsTitle.CATEGORY }}</th>
      <th>{{ TableColsTitle.UNIT }}</th>
      <th>{{ TableColsTitle.TYPE }}</th>
      <th class="col-actions">{{ TableColsTitle.ACTIONS }}</th>
    </tr>
  </ng-template>
  <ng-template let-material pTemplate="body">
    <tr>
      <td>{{ material.systemId }}</td>
      <td>
        @if (material.manufacturer?.name) {
          <app-truncate-cell
            [textValue]="material.manufacturer?.name"
          ></app-truncate-cell>
        } @else if (material?.draftManufacturerName) {
          <div class="draft-manufacturer-cell">
            <app-truncate-cell
              [textValue]="material.draftManufacturerName"
            ></app-truncate-cell>
            <p-chip
              (click)="
                navigateToCreateManufacturer(material.draftManufacturerName)
              "
              [icon]="Icons.EXTERNAL_LINK"
              class="chip--warn chip--clickable small draft-manufacturer-chip"
              label="Not in admin"
              pTooltip="This manufacturer was created directly and does not exist in admin. Click to create it."
              tooltipPosition="top"
            ></p-chip>
          </div>
        } @else {
          <p-chip class="chip--danger" label="Missing"></p-chip>
        }
      </td>
      <td>
        @if (material?.manufacturerPartNumber) {
          <app-truncate-cell
            [textValue]="material.manufacturerPartNumber"
          ></app-truncate-cell>
        } @else {
          <p-chip class="chip--danger" label="Missing"></p-chip>
        }
      </td>
      <td>
        @if (material?.category && material?.category?.name) {
          {{ material.category?.name }}
        } @else if (material?.draftCategoryName) {
          <div class="draft-manufacturer-cell">
            <app-truncate-cell
              [textValue]="material.draftCategoryName"
            ></app-truncate-cell>
            <p-chip
              (click)="navigateToCreateCategory(material.draftCategoryName)"
              [icon]="Icons.EXTERNAL_LINK"
              class="chip--warn chip--clickable small draft-manufacturer-chip"
              label="Not in admin"
              pTooltip="This category was created directly and does not exist in admin. Click to create it."
              tooltipPosition="top"
            ></p-chip>
          </div>
        } @else {
          <p-chip class="chip--danger" label="Missing"></p-chip>
        }
      </td>
      <td>
        @if (material?.unit) {
          {{ material.unit }}
        } @else if (material?.draftUnitName) {
          <div class="draft-manufacturer-cell">
            {{ material.draftUnitName }}
            <p-chip
              (click)="navigateToCreateUnit(material.draftUnitName)"
              [icon]="Icons.EXTERNAL_LINK"
              class="chip--warn chip--clickable small draft-manufacturer-chip"
              label="Not in admin"
              pTooltip="This unit was created directly and does not exist in admin. Click to create it."
              tooltipPosition="top"
            ></p-chip>
          </div>
        } @else {
          {{ "-" }}
        }
      </td>
      <td>{{ material.materialType | materialType }}</td>

      <td class="col-actions">
        <p-button
          (click)="manageSuppliers(material)"
          [icon]="Icons.BUILDING"
          [text]="true"
          pTooltip="Manage Material Suppliers"
          tooltipPosition="top"
        ></p-button>
        <p-button
          (click)="editMaterial(material)"
          [icon]="Icons.PENCIL"
          [text]="true"
          pTooltip="Edit"
          tooltipPosition="top"
        ></p-button>
        @if (!material.archived) {
          <p-button
            (onClick)="archiveMaterial(material)"
            [delay]="2000"
            [icon]="Icons.ARCHIVE"
            [text]="true"
            appNoDoubleClick
            pTooltip="Archive"
            severity="danger"
            tooltipPosition="top"
          ></p-button>
        }
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr class="p-datatable-emptymessage">
      <td colspan="7">No data</td>
    </tr>
  </ng-template>
</p-table>
