<p-card>
  <ng-template pTemplate="header">
    <div class="card-header">
      <app-custom-title [title]="title"></app-custom-title>
    </div>
  </ng-template>
  <p-table
    (onLazyLoad)="loadData($event)"
    [lazy]="true"
    [loading]="loading"
    [paginator]="true"
    [resizableColumns]="true"
    [rowsPerPageOptions]="rowsPerPageOptions"
    [rows]="maxRowDefault"
    [totalRecords]="totalRecords"
    [value]="processes()"
    class="app-table"
    dataKey="uid"
  >
    <ng-template pTemplate="caption">
      <div class="table-caption">
        <div class="caption-action-button">
          <app-search-input
            (eventSearchValidate)="activateSearch($event)"
          ></app-search-input>
        </div>
        <div class="caption-action-button">
          <p-button
            (click)="createProcess()"
            [icon]="Icons.PLUS"
            [raised]="true"
            label="Process"
          ></p-button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>{{ TableColsTitle.NAME }}</th>
        <th>{{ TableColsTitle.CURRENCY }}</th>
        <th>{{ TableColsTitle.COST_PER_MINUTE }}</th>
        <th>{{ TableColsTitle.DYSON_CYCLE_TIME_IN_SECONDS }}</th>
        <th>{{ TableColsTitle.NON_DYSON_CYCLE_TIME_IN_SECONDS }}</th>
        <th class="col-actions">{{ TableColsTitle.ACTIONS }}</th>
      </tr>
    </ng-template>
    <ng-template let-process pTemplate="body">
      <tr>
        <td class="col-align-flex">
          <span class="text-bold">{{ process.name }}</span>
          @if (process.setupProcess) {
            <p-chip class="chip--warn" label="Setup small" />
          }
        </td>
        <td>
          <p-tag [value]="process.currency.code"></p-tag>
        </td>
        <td>
          {{ process.costPerMinute }}
        </td>
        <td>
          {{ process.dysonCycleTimeInSeconds || "-" }}
        </td>
        <td>
          {{ process.nonDysonCycleTimeInSeconds || "-" }}
        </td>
        <td class="col-actions">
          <p-button
            (click)="editProcess(process)"
            [icon]="Icons.PENCIL"
            [text]="true"
            pTooltip="Edit"
            tooltipPosition="top"
          >
          </p-button>
          <p-button
            (onClick)="archiveProcess(process)"
            [delay]="2000"
            [icon]="Icons.ARCHIVE"
            [text]="true"
            appNoDoubleClick
            pTooltip="Archive"
            severity="danger"
            tooltipPosition="top"
          >
          </p-button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr class="p-datatable-emptymessage">
        <td colspan="10">No data</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
