<p-card class="container dialog">
  <form [formGroup]="rejectForm">
    <div class="p-field">
      <app-input-container
        [formControlName]="ToolingRejectFormField.REJECT_REASON"
        label="Reject Reason"
        type="textarea"
      ></app-input-container>
    </div>

    <div class="modal-actions-footer-end">
      <p-button
        (click)="confirm()"
        [disabled]="rejectForm.invalid"
        [icon]="Icons.CHECK"
        label="Confirm"
        severity="success"
        type="submit"
      />
      <p-button
        (click)="cancel()"
        [icon]="Icons.TIMES"
        [outlined]="true"
        label="Cancel"
        severity="secondary"
      />
    </div>
  </form>
</p-card>
<p-button
  (click)="cancel()"
  [icon]="Icons.TIMES"
  [text]="true"
  class="close-modal-btn"
  severity="secondary"
/>
