<div class="pns-lines">
  <div class="pns-lines-header">
    <h3 class="pns-title">Lines</h3>
    <p-button
      (click)="addLine()"
      [icon]="Icons.PLUS"
      label="Add Line"
      size="small"
      type="button"
      variant="outlined"
    ></p-button>
  </div>
  @if (showAccordion && costRequestForm()) {
    <div [formGroup]="costRequestForm()">
      <div [formArrayName]="CostRequestFormField.LINES" class="lines">
        <p-accordion [(value)]="activeIndex">
          @for (
            inline of linesFormArray.controls;
            track inline;
            let parentIndex = $index
          ) {
            <p-accordion-panel
              [ngClass]="{
                danger: inline.invalid,
              }"
              [value]="parentIndex"
            >
              <p-accordion-header>
                <div class="accordion-header">
                  <div class="accordion-header-title">
                    @if (
                      getLineForm($index).get(
                        CostRequestLineFormField.CUSTOMER_PART_NUMBER
                      )?.value
                    ) {
                      <span class="line-preview">
                        {{
                          getLineForm($index).get(
                            CostRequestLineFormField.CUSTOMER_PART_NUMBER
                          )?.value
                        }}
                        @if (
                          getLineForm($index).get(
                            CostRequestLineFormField.CUSTOMER_PART_NUMBER_REVISION
                          )?.value
                        ) {
                          -
                          {{
                            getLineForm($index).get(
                              CostRequestLineFormField.CUSTOMER_PART_NUMBER_REVISION
                            )?.value
                          }}
                        }
                      </span>
                    } @else {
                      <span class="placeholder-title">New Line</span>
                    }
                    @if (inline.hasError("duplicateQuantity")) {
                      <small class="p-error"> Duplicate quantity </small>
                    }
                  </div>
                  <div class="action-btns">
                    <p-overlayBadge
                      [value]="
                        getLineForm($index)
                          .get(CostRequestLineFormField.FILES)
                          ?.value?.length.toString() ?? '0'
                      "
                      class="icon-badge-without-bg"
                    >
                      <p-button
                        (onClick)="manageFiles(parentIndex, $event)"
                        [icon]="Icons.FOLDER"
                        [text]="true"
                        pTooltip="Manage files"
                        tooltipPosition="top"
                      ></p-button>
                    </p-overlayBadge>
                    <p-button
                      (onClick)="copyPNLine(parentIndex, $event)"
                      [icon]="Icons.COPY"
                      [text]="true"
                      pTooltip="Copy line"
                      tooltipPosition="top"
                    ></p-button>
                    <p-button
                      (onClick)="
                        confirmRemovePNLineRequest(inline, parentIndex, $event)
                      "
                      [delay]="1000"
                      [icon]="Icons.TRASH"
                      [text]="true"
                      appNoDoubleClick
                      severity="danger"
                    ></p-button>
                  </div>
                </div>
              </p-accordion-header>
              <p-accordion-content>
                <div [formGroupName]="parentIndex">
                  <div class="p-fields-row">
                    <div class="p-field">
                      <app-input-container
                        [formControlName]="
                          CostRequestLineFormField.CUSTOMER_PART_NUMBER
                        "
                        label="Customer P/N"
                      ></app-input-container>
                    </div>
                    <div class="p-field">
                      <app-input-container
                        [formControlName]="
                          CostRequestLineFormField.CUSTOMER_PART_NUMBER_REVISION
                        "
                        label="Revision"
                      ></app-input-container>
                    </div>
                    <div class="p-field">
                      <app-input-container
                        [formControlName]="CostRequestLineFormField.DESCRIPTION"
                        label="Description"
                      ></app-input-container>
                    </div>
                    <div class="p-field">
                      <label for="productName">Product name</label>
                      <p-select
                        [filter]="true"
                        [formControlName]="
                          CostRequestLineFormField.PRODUCT_NAME
                        "
                        [options]="productNames()"
                        [showClear]="true"
                        filterBy="name"
                        optionLabel="name"
                        placeholder="Select product name"
                      ></p-select>
                    </div>
                    <div class="p-field">
                      <label for="methodType"
                        >Method Type
                        <span class="required-indicator">*</span></label
                      >
                      <p-select
                        [formControlName]="
                          CostRequestLineFormField.CR_METHOD_TYPE
                        "
                        [options]="methodTypeOptions"
                        inputId="methodType"
                        optionLabel="label"
                        optionValue="value"
                        placeholder="Select method type"
                      ></p-select>
                    </div>
                  </div>
                  <div class="p-fields-row">
                    <div class="p-field">
                      <label [for]="CostRequestLineFormField.QUANTITIES"
                        >Quantities:
                        <span class="required-indicator">*</span></label
                      >

                      <p-autoComplete
                        (onAdd)="addQuantities($event, parentIndex)"
                        [addOnBlur]="true"
                        [formControlName]="CostRequestLineFormField.QUANTITIES"
                        [multiple]="true"
                        [separator]="RegexPatterns.CHIP_SEPARATOR"
                        [type]="'number'"
                        [typeahead]="false"
                        placeholder="e.g: 10, 20..."
                      >
                      </p-autoComplete>
                    </div>
                  </div>
                </div>
              </p-accordion-content>
            </p-accordion-panel>
          }
        </p-accordion>
      </div>
    </div>
  }
</div>
