<p-card class="container dialog">
  <form [formGroup]="form">
    <div class="p-fields-row">
      <div class="p-field">
        <app-input-container
          [formControlName]="ShipmentLocationFormField.NAME"
          label="Name"
        ></app-input-container>
      </div>
    </div>
    <div class="p-fields-row">
      <div class="p-field">
        <label for="accepted-currencies">Accepted Currencies</label>
        <p-multiSelect
          [formControlName]="ShipmentLocationFormField.ACCEPTED_CURRENCIES"
          [options]="currencies()"
          appendTo="body"
          display="chip"
          inputId="accepted-currencies"
          optionLabel="code"
          optionValue="uid"
          placeholder="Select currencies"
        />
      </div>
    </div>
    <p-button
      (click)="createEdit()"
      [disabled]="!form.valid"
      [icon]="Icons.CHECK"
      [label]="editMode() ? 'Edit' : 'Create'"
      class="modal-btn"
      severity="success"
      type="submit"
    ></p-button>
  </form>
</p-card>
