<p-card class="container dialog">
  <form [formGroup]="customerForm">
    <div class="p-fields-row">
      <div class="p-field">
        <app-input-container
          [formControlName]="CustomerFormField.NAME"
          label="Name"
        ></app-input-container>
      </div>
      <div class="p-field">
        <app-input-container
          [formControlName]="CustomerFormField.CODE"
          label="Code"
        ></app-input-container>
      </div>
      <div class="p-field p-field--checkbox">
        <label for="isDyson">Dyson Customer</label>
        <p-checkbox
          [binary]="true"
          [formControl]="isDysonControl"
          aria-label="Dyson Customer"
          inputId="dyson"
        ></p-checkbox>
      </div>
    </div>
    <div class="p-fields-row">
      <div class="p-field">
        <app-input-container
          [formControlName]="CustomerFormField.MARK_UP"
          label="Markup %"
          prefix="%"
          type="number"
        ></app-input-container>
      </div>
      <div class="p-field">
        <app-input-container
          [formControlName]="CustomerFormField.PAYMENT_TERMS"
          label="Payment Terms"
          type="text"
        ></app-input-container>
      </div>
    </div>
    <p-button
      (click)="createEditCustomer()"
      [disabled]="customerForm.invalid"
      [icon]="Icons.CHECK"
      [label]="editMode() ? 'Edit' : 'Create'"
      class="modal-btn"
      severity="success"
      type="submit"
    ></p-button>
  </form>
</p-card>
